*{
    margin: 0;
    padding: 0;
}
#page{
    width: 100%;
    height: 100vh;
}
#head{
    width: 100%;
    height: 15%;
    padding-top: 3%;
}
#backhead{
    width: 90%;
    height: 8%;
    margin-left: 5%;
    margin-right: 5%;
}
.buttoms{
    float: left;
    width: 15%;
    height: 50%;
    border-bottom: 0px;
    border:none!important;
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
    font-family:Verdana;
    font-weight:bold;
    font-size:13px;
    padding:6px 10px;
    text-decoration:none;
}
.azul{
    border-color:#00aaff;
    background:linear-gradient(to bottom, #ffffff 5%, #00aaff  100%);
    box-shadow:inset 0px 1px 0px 0px #00aaff;
    color:#333;
    text-shadow:0px 1px 0px #ffffff;
}
.publicacao{
    width: 90%;
    height: 100vh;
    margin-left: 5%;
    margin-right: 5%;
}